/***********************************************************/
/************** Defaults for print media *******************/
/***********************************************************/

body { background-color: white; font-size: 0.16in; }
#page {background-color: white; padding: 0; margin: 0; }

/* Things to Shut Off */
div#login,
div#sitetabs_background,
.hbuttons,
.gotoday,
ul#sitetabs,
div.actionicons,
div.MonthMenu,
div#message,
.filternotice,
div#crosslinks,
div#shortcuturl,
#print          { display: none; }

div.evenrow,
div.oddrow  { background-color: #fff; 
                padding: 0;}
.calendarbox-container { 
    box-shadow: 0px 0px 0px #000;
    margin: 0 auto 0 auto; }
table.monthheading { border: none; width: 100%; }

#monthYear,
.attribution,
#displayspan    { visibility: hidden; }

