{{#each reminders}}
    {{#with this}}
    <tr eventid="{{eventid}}">
        <td><input form=remindForm type=checkbox></td>
        <td><article>
        <header>
            <h4>{{date}} <i>{{title}}</i> ({{category}})</h4>
        </header>
        <p>{{AllDay all_day start_time}}</p>
        <div id="{{eventid}}"
             style="visibility: hidden;">{{{text}}}
        </div>
        </article></td>
        <td>{{ReminderType type}}</td>
        <td><input type="number" min="1" id="days" value="{{days}}"></td>
    </tr>
    {{/with}}
{{/each}}
